---
// src/components/projects/footer.astro
---

<footer class="footer">
  <div class="social-links">
    <a href="https://x.com/dfxyeet" target="_blank" rel="noopener noreferrer" class="social-link">twitter</a>
    <a href="mailto:rickyaldiansyah92@gmail.com" class="social-link">email</a>
    <a href="https://github.com/ghstx9" target="_blank" rel="noopener noreferrer" class="social-link">github</a>
    <a href="https://discord.com/invite/2KXSDTp8wA" target="_blank" rel="noopener noreferrer" class="social-link">discord</a>
  </div>
  <p class="footer-text">
    © 2025 ricky aldiansyah. crafted with 
    <a href="https://astro.build/" target="_blank" rel="noopener noreferrer" class="astro-gradient-link">astro.</a>
  </p>
</footer>