---
import Layout from '../layouts/layout.astro';
import Navigation from '../components/navi.astro';
import Hero from '../components/hero.astro';
import Technologies from '../components/technologies.astro';
import Description from '../components/description.astro';
import CallToAction from '../components/cta.astro';
import Footer from '../components/footer.astro';
import ThemeToggle from '../components/themetoggle.astro';
import ScrollAnimations from '../components/scrollanimations.astro';
---

<Layout title="Ricky's Space">
  <div class="container">
    <Navigation />
    
    <main class="main">
      <Hero />
      <Technologies />
      <Description />
      <CallToAction />
      <Footer />
    </main>
  </div>
  
  <ThemeToggle />
  <ScrollAnimations />
</Layout>