---
import Layout from '../layouts/layout3.astro';
import Navigation from '../components/experience/navi.astro';
import PageHeader from '../components/experience/pageheader.astro';
import EducationSection from '../components/experience/educationsect.astro';
import SkillsSection from '../components/experience/skillsection.astro';
import CallToAction from '../components/experience/cta.astro';
import Footer from '../components/experience/footer.astro';
import '../styles/main3.css';
---

<Layout title="Ricky's Space">
  <div class="container">
    <Navigation currentPage="experience" />
    
    <main class="main">
      <PageHeader 
        title="experience"
        description="my journey in software development, education, and the skills i've built along the way"
      />
      
      <EducationSection />
      <SkillsSection />
      <CallToAction />
      <Footer />
    </main>
  </div>
</Layout>