---
// src/components/home/description.astro
---

<div class="description">
  <p>
    i'm currently a student at <a href="https://smknegeri7batam.sch.id/" class="link">skaju</a>, 
    a vocational school where i'm honing my skills in software development. while my professional experience 
    is still growing, i'm passionate about creating clean, efficient code and beautiful user interfaces. 
    i handle everything from design concepts to final implementation.
  </p>
</div>